body{
  font-family: "Inter";
  font-weight: 300;
  height: 100%;
  width: 100%;
  color: #303030;
  background-color: #f2f2f2;
}

.navbar
{
  background-color: #303030 !important;
}

.navbar-brand{
  color: #d2ac86 !important;
}

.navbar-toggler{
  background-color: #d2ac86 !important;
}

.nav-link{
  color: #d2ac86 !important;
  margin-right: 1vw;
  text-transform: lowercase;
  letter-spacing: 3px;
  font-size: 11px;
}

#hpic {
  max-width: 350px;
  max-height: 350px;
}

h1 {
  font-size: 56px;
  font-weight: 700;
}
h2 {
  font-size: 42px;
  font-weight: 800;
}
h3 {
  font-size: 28px;
  font-weight: 700;
}

.bg {
  height: 350px;
  width: 350px;
  background-color: #debbbb;
  border-radius: 500px;
  box-shadow: 0px 6px 10px #8f7e7e;
}

.contactbtn {
  text-decoration: none;
  text-transform: capitalize;
  background-color: #303030;
  border-radius: 50px;
  padding: 8px 16px;
  color: #d2ac86;
  font-weight: 500;
  transition: all ease 0.5s;
}
.contactbtn:hover {
  opacity: 0.8;
  color: #d2ac86c5;
}

#about,
#gallery{
  background-color: rgba(210, 172, 134, 0.2);
  border-radius: 60px;
}

#card-img{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: ease 0.5s all;
}

#card-img:hover{
  transform: translateY(-2px);
  transform: scale(1.02);
}

.card{
  background-color: #303030;
  padding: 30px;
  border-radius: 30px;
  color: #d2ac86;
  max-width: 76vw;
  margin: 30px 0;
  line-height: 1.2;
  position: relative;
  box-shadow: 0px 0px 10px rgba(18, 18, 18, 0.5);
  transition: all 0.5s ease;
}

.card:hover{
  transform: translateY(-2px);
  transform: scale(1.008);
}

.card::after {
  content: "<html>";
  color: #d2ac86;
  font-family: "Inter";
  position: absolute;
  top: -10px;
  left: 90%;
  transform: rotate(20deg);
  font-weight: 600;
  background-color: #303030;
  border: solid #d2ac86;
  border-radius: 30px;
}
.card::before {
  content: "<html/>";
  color: #d2ac86;
  font-family: "Inter";
  position: absolute;
  top: 96%;
  left: 4%;
  transform: rotate(20deg);
  font-weight: 600;
  background-color: #303030;
  border: solid #d2ac86;
  border-radius: 30px;
}

.card-link{
  color: #d2ac86;
  text-decoration: none;
}

.card-text{
  letter-spacing: 2px;
}

.btn-hobbies {
  padding: 30px;
  font-weight: 800;
  border-radius: 30px;
  transition: all ease 0.5s;
  text-decoration: none;
  color: #303030;
  justify-content: center;
  display: flex;
  border: 2px solid;
}

.btn-hobbies:hover {
  background-color: #d2ac86;
}

.fade-word {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.fade-out {
  opacity: 0;
}

.icon-carousel{
  width: 80vw;
  background-color: #303030;
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
  border-radius: 10px;
  border: 20px solid #303030;
}

.icon-track {
  display: inline-block;
  animation: scroll-left 15s infinite ease-in;
}

.icon-track img{
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

@keyframes scroll-left {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-30%);
  }
}

footer{
  background-color: rgba(210, 172, 134, 0.2);
}

#submit-btn{
  border: none;
}

.footer-below{
  background-color: #303030;
}

.footer-text{
  color: #d2ac86;
}

.footer-icons svg{
  width: 20px;
  height: 20px;
  margin: 5px;
  fill: #d2ac86;
}

.contact-number{
  color: #d2ac86;
  text-decoration: none;
  margin: 6px;
}